{% extends "layout.html" %}
{% block title %}
Dhiraj tweet
{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="card bg-dark text-white shadow-lg p-4">
        <h1 class="text-center text-white mt-4">Are you sure you want to delete this tweet?</h1>
        
        <!-- Display the tweet content -->
        <div class="tweet-content mt-4 text-center">
            <p class="lead">"{{ tweet.text }}"</p>
            {% if tweet.photo %}
                <img src="{{ tweet.photo.url }}" class="img-fluid mt-3" alt="Tweet Photo" style="max-width: 36%; height: auto;">
            {% endif %}
        </div>

        <!-- Form to delete the tweet -->
        <form method="post" class="text-center mt-4">
            {% csrf_token %}
            <button class="btn btn-danger btn-lg px-5">Delete</button>
            <a class="btn btn-success btn-lg px-5 ml-3" href="{% url 'tweet_list' %}">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}
